body {
    background-color: #fefae0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #6b705c;
    text-align: center;

}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #555;
    width: 45%;
    height: 600px;
}
section {
    margin: auto;
    width: 60%;
    padding: 10px;
}



